<div class="job-card" [ngClass]="job.status">
  <div class="job-header">
    <h3>{{ job.title }}</h3>
    <span class="badge">{{ job.status | uppercase }}</span>
  </div>
  <p class="dept">🏢 Department: {{ job.department }}</p>
  <p class="count">👥 Applicants: <strong>{{ job.applicants }}</strong></p>
  
  <div class="job-actions">
    <app-ui-button 
        text="View Details" 
        variant="draft" 
        type="submit"
        size="small"
        (click)="viewDetails.emit(job.id)"
      >
      </app-ui-button>
  </div>
</div>
